---
layout: default
title: "Criterios de edición"
permalink: criterios.html
---

<div class="justificame">
    <div lang="en">
        <h2>English version (1698)</h2>
        <p>
            We offer two visualizations: the original version and the modern version:
            <ul style="list-style-type:square">
                <li>
                    The original version respects the text's orthography and use of <i>ʃ</i> and <i>ſ</i>.
                </li>
                <li>
                    The modern version corrects the obvious errors and regularizes the text's orthography
                    according to modern spelling.
                </li>
            </ul>
            All of our interventions are marked by being <span style="text-decoration: underline dotted;">underlined with dots</span>.
        </p>
        <p>
            We used the color <span style="color: darkolivegreen;">green</span> to point out the toponyms, and the color
            <span style="color: darkslateblue;">blue</span> to poin out the terms refering to persons, roles, and groups of people.
        </p>
        <p>
            Both visualizations leave out the paratexual elements (headers, footers, topographic signatures, ...), although those are
            present in the associated TEI file.
        </p>
        <p>
            <a href="tei_example_en_FAKE.html">Back to the English version (1698)</a>
        </p>
    </div>
    <div lang="es">
        <h2> Versión en español (1867)</h2>
        <p>
            Se ofrecen dos visualizaciones: la edición original y la edición modernizada:
            <ul style="list-style-type:square">
                <li>La edición original corrige las erratas evidentes (<i>Andalucía</i> por <i>Andaluía</i> (p. 17);
                    <i>hace por</i> por <i>hacepor</i> (p. 18) y similares), pero no expande las abreviaturas y respeta
                    la acentuación y ortografía del texto. Recordemos que, en aquel tiempo, en varias repúblicas americanas se usaban normas ortográficas
                    inspiradas en las reformas de Bello y Sarmiento, ligeramente divergentes de la doctrina de la Real Academia Española.
                </li>
                <li>La edición modernizada corrige las erratas evidentes, expande las abreviaturas y regulariza la acentuación y ortografía del texto de acuerdo
                    a la norma académica de 2010 (<i>guarnición</i> por <i>guarnicion</i> (p. 17); <i>países</i> por <i>paises</i>
                    (<i>passim</i>); <i>extranjeros</i> por <i>estranjeros</i> (p. 17, nota al pie)).
                </li>
            </ul>
            Todas nuestras intervenciones se marcan con un <span style="text-decoration: underline dotted;">subrayado de puntos</span>.
        </p>
        <p>
            Se destacan en color <span style="color: darkolivegreen;">verde</span> los topónimos y en color <span style="color: darkslateblue;">azul</span>
            los términos que refieren a personajes, cargos y grupos humanos.
        </p>
        <p>
            Ambas visualizaciones prescinden de los elementos paratextuales (cabeceras, paginado, signaturas topográficas...) y de los saltos de línea
            del texto original, que no obstante se describen en el archivo TEI asociado.
        </p>
        <p>
            <a href="tei_example_es_FAKE.html">Volver a la versión en español (1867)</a>
        </p>
    </div>
</div>
