---
title: Equipo
layout: page
permalink: /equipo
---

<div class="justificame">
    <p>
        ¡Hola! Somos un grupo internacional del curso "Ediciones digitales con minimal computing", dentro del proyecto Global Classrooms
        de la Universidad de Maryland (Estados Unidos) en colaboración con la Universidad del Salvador / CONICET (Argentina).
        Aquí encontrarás nuestra edición digitalizada de la <i>Descripción de Buenos Aires</i> de Acarette du Biscay (s. XVII).
    </p>
    <h2>Nombre del grupo</h2>
    <p>
        SOFI4, nombre griego de Verdad (Σoφíα), pero con un "4" en lugar de "A",
        porque somos el Grupo 4 en este curso. ¡También es el nombre del perro de Juli!
    </p>
    <h2>Integrantes del equipo</h2>
    <p>
        <ul>
            <li>
                <i>Debora Miyashiro (she/her/ella). Nickname: DEB<br></i>
                Estudiante de Computación, Universidad de Maryland, Estados Unidos.
            </li>
            <li>
                <i>Iñaki Canogar (he/his/él). Nickname: ICANOGAR<br></i>
                Estudiante de doble grado de Filología Hispánica y Lingüística, Universidad de Potsdam, Alemania.
            </li>
            <li>
                <i>Josh Mendez (he/his/él). Nickname: JOSH<br></i>
                Estudiante de Inglés, Universidad de Maryland, Estados Unidos.
            </li>
            <li>
                <i>Julieta Sanchez (she/her/ella). Nickname: JULI <br></i>
                Estudiante de Profesorado en Letras, Universidad Nacional del Comahue, Patagonia Argentina.
            </li>
        </ul>
    </p>
    <p>
        <b>Objetivos<br></b>
       <ul>
        <li>Desarrollar, publicar y mantener una publicacion digital dentro del curso Humanidades Digitales con Minimal Computing</li>
        <li>Comunicarnos efectivamente con los integrantes del grupo</li>
        <li>Ayudar a otros integrantes del grupo con situaciones tecnológicas y comunicativas</li>
        <li>Disfrutar de la experiencia</li>
        </ul>
    </p>
    <h2>Valores centrales</h2>
    <p>
        <ul style="list-style-type:square">
            <li>
                Todos los miembros recibirán el mismo crédito y nuestros nombres siempre se enumerarán en estricto orden alfabético
            </li>
            <li>
                Para no excluir a nadie, el inglés será el idioma principal de este grupo
            </li>
            <li>
                En cuanto a nuestras diferentes situaciones, husos horarios, etc, seremos amables y pacientes unos con otros.
            </li>
        </ul>
    </p>
    <h2>Ethos</h2>
    <p>
        <ul style="list-style-type:square">
            <li>
                Somos curiosos, respetuosos y estamos dispuestos a aprender unos de otros.
            </li>
            <li>
                Estamos listos para trabajar colaborativamente
            </li>
            <li>
                Siempre confiamos en la comunicación con los compañeros de equipo
            </li>
            <li>
                Damos retroalimentación abierta y frecuente
            </li>
            <li>
                No tenemos miedo de hacer preguntas cuando estamos confundidos
            </li>
            <li>
                ¡Queremos que esta experiencia sea recordada!
            </li>
        </ul>
    </p>
    <h2>Agradecimientos</h2>
    <p>
        Como muchos proyectos de código abierto, la digitalización de <i>Relato de un viaje al Río de la Plata </i>
        consistió de un trabajo grupal, que requirió esfuerzos adicionales por el multilinguismo, las
        diferencias horarias, las diferencias culturales y diferentes fondos educativos de los participantes
        del curso de <i>Humanidades Digitales con Minimal Computing.</i> Por ese motivo, agradecemos muy sentidamente a:
        <ul>
        <li><b>Antonio Rojas</b></li>
        <li><b>Benjamin Muñoz</b>, investigador del Centro Patagónico de Estudios Latinoamericanos, que difundió el curso en Neuquén -Patagonia Argentina-</li>
        <li><b>Gabriel Calarco</b>, asistente del evento NoviembreHD</li>
        <li><b>Gimena del Rio</b>, investigadora Adjunta del Instituto de Investigaciones Bibliográficas y Crítica Textual del CONICET, profesora del curso </li>
        <li><b>Nidia Hernandez</b>, asistente del curso</li>
        <li><b>Raff Viglianti</b>, Research Programer de MITH, profesor del curso</li>
        <li><b>Romina de León</b>,  asistente del curso</li>
        <li><b>A nuestros compañeros de cursada, </b>que enriquecieron nuestra experiencia del curso por medio de los debates en foros, participación en paneles expositivos y ayudando en cuestiones prácticas</li>
        </ul>
    </p>
