---
layout: default
permalink: /
---
<div class="flexbox">
  <div class="flexme">
    <a href="team.html">Hello world!</a>
  </div>
  <div class=flexme>
    <a href="equipo.html">Hola mundo!</a>
  </div>
</div>
<div>
  <img src="assets/acaretedice.png" class="centrame"
  alt="Original artwork based on an Alciato's emblem and a 18th Century map of the River de la Plata">
</div>
<div>
  <p n="1" class="centrame">
    Digital edition of the <a href="tei_example_en_FAKE.html">Description of Buenos Aires</a> by Acarete du Biscay.
  </p>
  <p n="2"class="centrame">
    Edición digital de la <a href="tei_example_es_FAKE.html">Descripción de Buenos Aires</a> de Acarete du Biscay.
  </p>
</div>
