---
title: Team
layout: page
permalink: /team
---

<div class="justificame">
    <p>
        Hello! We are an internatiopnal group from the class "Digital Publishing
        with Minimal Computing", under the Global Classrooms from the University
        of Maryland (US) in collaboration with the University of Salvador /
        CONICET (Argentina). Here you will find out digitized edition of the
        Description of Buenos Aires by Acarette du Biscay (s. XVII).
    </p>
    <h2>Group name</h2>
    <p>
        SOFI4, greek name for the Truth (Σoφíα), but with a 4 instead of the A,
        for we are Group 4 in this course. It's also Juli's dog name!
    </p>
    <h2>Team members</h2>
    <p>
        <ul>
            <li><i>Debora Miyashiro (she/her/ella). Nickname: DEB<br></i>
                Computing student, University of Maryland, United States.</li>
            <li><i>Iñaki Canogar (he/his/él). Nickname: ICANOGAR<br></i>
                Double degree student of Hispanic Philology and Linguistics, University of Potsdam, Germany.</li>
            <li><i>Josh Mendez (he/his/él). Nickname: JOSH<br></i>
                English student, University of Maryland, United States.</li>
            <li><i>Julieta Sanchez (she/her/ella). Nickname: JULI <br></i>
                Literature Professorship student, National University of Comahue, Patagonia Argentina.</li>
        </ul>
    </p>
    <h2>Objectives</h2>
    <p>
        <ul style="list-style-type:square">
            <li>
                Develop, publish, and maintain a digital publication within the course <i>Digital Publishing with Minimal Computing</i>
            </li>
            <li>
                Communicate effectively with teammates
            </li>
            <li>
                Help other teammates with technological and communicative issues
            </li>
            <li>
                Enjoy the experience
            </li>
        </ul>
    </p>
    <h2>Values</h2>
    <p>
        <ul style="list-style-type:square">
            <li>
                All members will be equally credited, and our names will be always listed in strictly alphabetical order.
            </li>
            <li>
                In order not to get anybody excluded, English will be the main language of this group.
            </li>
            <li>
                Regarding our different situations, time zones, etc.... we will be kind and patient to each other.
            </li>
        </ul>
    </p>
    <h2>Ethos</h2>
    <p>
        <ul style="list-style-type:square">
            <li>
                We are curious, respectful and willing to learn from each other.
            </li>
            <li>
                We are ready to work collaboratively.
            </li>
            <li>
                We are always reliant on communicating with teammates.
            </li>
            <li>
                We give open and frequent feedback.
            </li>
            <li>
                We are not afraid to ask questions when we are confused.
            </li>
            <li>
                We want this experience to be remembered!
            </li>
        </ul>
    </p>
    <h2>Acknowledgments</h2>
    <p>
        Like many open source projects, the digitization of <i>Description of Buenos Aires</i> consisted of group work, which required
        additional efforts due to multilingualism, time differences, cultural differences and different educational backgrounds of the
        participants of the course <i>Digital Humanities with Minimal Computing.</i> For this reason, we warmly thank to:
        <ul>
        <li><b>Antonio Rojas</b></li>
        <li><b>Benjamin Muñoz</b>, Researcher at the Patagonian Center for Latin American Studies, who disseminated the course in Neuquén -Patagonia Argentina-</li>
        <li><b>Gabriel Calarco</b>, Assistant in NoviembreHD event</li>
        <li><b>Gimena del Rio</b>, Associate Researcher at the Institute for Bibliographic Research and Textual Criticism  of CONICET, Proffesor of the course </li>
        <li><b>Nidia Hernandez</b>, Course Assistant</li>
        <li><b>Raff Viglianti</b>, Research Programer de MITH, Professor of the course</li>
        <li><b>Romina de León</b>, Course Assistant</li>
        <li><b>A nuestros compañeros de cursada, </b>To our fellow students who enriched our experience through discussions in forums, participation in exhibition panels and  helping with practical matters.</li>
        </ul>
    </p>
