---
layout: tei2
title: Descripción de Buenos Aires
permalink: /tei_example_es_MOD
document: exampleES.xml
---

<div lang="es">
  <div class="justificame">
    <p>Esta edición digital reproduce el texto aparecido en el número 49 (mayo de 1867) de <i>La Revista de Buenos Aires</i>, 
      páginas 17 a 21, traducido de la <a href="tei_example_en_FAKE.html">versión inglesa de 1698</a> por Daniel Maxwell. 
      Puede consultar aquí nuestros <a href=criterios.html>criterios de edición</a>.
    </p>
  </div>
  <div class="flexbox">
    <div class="flexme">
      <a href="tei_example_es_ORIG.html">Edición original</a>
    </div>
    <div class="flexme">
      <a href="tei_example_es_SCAN.html">Facsímil</a>
    </div>
    <div class="flexme">
      <a href="tei_example_es_MOD.html">Edición modernizada</a>
    </div>
  </div>
  <hr>
</div>