---
layout: default
title: Description of Buenos Aires
permalink: /tei_example_en_SCAN
---
<div lang="en">
    <div>
        <h1>Description of Buenos Aires</h1>
        <p>
          This digital edition renders the text printed for Samuel Buckley, at
          the <i>Dolphin</i>, London, 1698. Here you can visit our <a href="tei_example_es_FAKE.html">Spanish version</a>,
          and here you can see our <a href="criterios.html">editing criteria</a>.
        </p>
    </div>
    <div class="flexbox">
        <div class="flexme">
        <a href="tei_example_en_ORIG.html">Original edition</a>
        </div>
        <div class="flexme">
        <a href="tei_example_en_SCAN.html">Facsimile</a>
        </div>
        <div class="flexme">
        <a href="tei_example_en_MOD.html">Modern edition</a>
        </div>
    </div>
    <hr>
    <div>
        <img src="assets/EN16.jpg">
        <img src="assets/EN17.jpg">
        <img src="assets/EN18.jpg">
        <img src="assets/EN19.jpg">
        <img src="assets/EN20.jpg">
        <img src="assets/EN21.jpg">
        <img src="assets/EN22.jpg">
        <img src="assets/EN23.jpg">
        <img src="assets/EN24.jpg">
    </div>
    <div>
        <p class="centrame">
            <a href="#top">Back to the top</a>
    </div>
</div>
