---
layout: tei2
title: Description of Buenos Aires
permalink: /tei_example_en_MOD
document: exampleEN.xml
---
<div lang="en">
    <div>
      <p>
        This digital edition renders the text printed for Samuel Buckley, at
        the <i>Dolphin</i>, London, 1698. Here you can visit our <a href="tei_example_es_FAKE.html">Spanish version</a>,
        and here you can see our <a href="criterios.html">editing criteria</a>.
      </p>
    </div>
    <div class="flexbox">
        <div class="flexme">
        <a href="tei_example_en_ORIG.html">Original edition</a>
        </div>
        <div class="flexme">
        <a href="tei_example_en_SCAN.html">Facsimile</a>
        </div>
        <div class="flexme">
        <a href="tei_example_en_MOD.html">Modern edition</a>
        </div>
    </div>
    <hr>
</div>
