---
layout: default
title: Descripción de Buenos Aires
permalink: /tei_example_es_SCAN
---

<div>
    <div lang="es" class="justificame">
        <h1>Descripción de Buenos Aires</h1>
        <p>
            <a name="top"></a>Esta edición digital reproduce el texto aparecido en el número 49 (mayo de 1867) de <i>La Revista de Buenos Aires</i>, 
            páginas 17 a 21, traducido de la <a href="tei_example_en_FAKE.html">versión inglesa de 1698</a> por Daniel Maxwell. 
            Puede consultar aquí nuestros <a href=criterios.html>criterios de edición</a>.
        </p>
    </div>
    <div class="flexbox">
        <div class="flexme">
        <a href="tei_example_es_ORIG.html">Edición original</a>
        </div>
        <div class="flexme">
        <a href="tei_example_es_SCAN.html">Facsímil</a>
        </div>
        <div class="flexme">
        <a href="tei_example_es_MOD.html">Edición modernizada</a>
        </div>
    </div>
    <hr>
    <div>
        <img src="assets/ES16.jpg">
        <img src="assets/ES17.jpg">
        <img src="assets/ES18.jpg">
        <img src="assets/ES19.jpg">
        <img src="assets/ES20.jpg">
        <img src="assets/ES21.jpg">
        <img src="assets/ES22.jpg">
    </div>
    <div>
        <p class="centrame">
            <a href="#top">Volver arriba</a>
        </p>
    </div>
  </div>
</div>