---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

/*
  Here starts our customization
*/

tei-head[type="subtitle"] {
  text-align: center;
  font-size: 120%
}

tei-hi[rendition="simple:italic"] {
  font-style: italic;
}

/*
  This hides TEI elements and non desired additions such as spaces and brackets
*/

tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: "";
}

tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: "";
}

tei-sic, tei-lb, tei-fw {
  display: none
}

tei-abbr {
  display: inline
}

tei-expan {
  display: none
}

tei-reg {
  display: none
}

tei-orig {
  display: inline
}

/* tei-abbr/expan & orig/reg properties to be reversed in the style.scss for the modern text*/

tei-orig, tei-reg, tei-sic, tei-corr, tei-abbr, tei-expan {
  text-decoration: underline dotted;
}

tei-foreign {
  font-style: italic;
}

/*
  This gives a tiny indentation (sangría) to EVERY element inside EVERY <div> under TEI.
  It's not a problem as long as we just work with one <div> in each version of the text.
*/

tei-div {
  text-indent: 5%
}

/*
  This gives format the <note> element. Note the tei-div property "text-indent" is overwritten.
*/

tei-note {
  display: block;
  font-size: 88%;
  text-align: justify;
  text-indent: 0%;
}

/*
  This gives format to flex, centered, justified elements etc... in HTML text.
*/

.flexbox {
  display: flex;
}

.flexme {
  flex: 1;
  text-align: center;
}

p.centrame {
  text-align: center;
}

img.centrame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.justificame {
  text-align: justify;
}

hr {
  background-color: #841212;
  height: 5px;
}

/*
  This gives format to semantic markup. 
*/

tei-name[type="place"],
tei-name[type="country"],
tei-name[type="placeGeog"]{
  color: darkolivegreen;
}

tei-name[type="person"],
tei-name[type="personRoleName"],
tei-rs[type="people"] {
  color: darkslateblue;
}